<div class="green_background">
  <div class="container">
    <div class="form_container">
        <div class="page-header">
          <h2>Add Course</h2>
        </div>

      
        <form ng-submit="addCourse()">
          <div class="input-group">
            <label for="exampleInputEmail1">Course Name</label>
            <input type="text" class="form-control input_style" id="exampleInputText1" placeholder="Ex: Civil War" ng-model="title">
        
            <textarea class="form-control input_style" id="exampleInputText1" placeholder="this is a good thing" ng-model="description"></textarea>
          </div>
        
         
          <input type="submit"class="btn btn-primary btn-lg btn-block" value="Add Course!">
        </form>

        </div>

  </div>

</div> 
  