<div class="green_background">
  <div class="container">
    <div class="form_container">
        <div class="page-header">
          <h2>Create a Curriculum</h2>
        </div>      
        <form ng-submit="addCurriculum()">
          <div class="input-group">
            <label for="exampleInputEmail1">Curriculum Name</label>
            <input type="text" class="form-control input_style" id="exampleInputText1" placeholder="Ex: My fithgrade awesome" ng-model="name">
          </div>
          <div class="input-group">
            <label>Grade level</label>
            <select class="form-control input_style" ng-model="grade_level">
              <option value="" disabled>Choose Grade Level</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
         
          <input type="submit"class="btn btn-primary btn-lg btn-block" value="Let's get started!">
        </form>

        </div>

  </div>

</div> 
  