/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */


@font-face {
	font-family: 'Gotham-book';
	src: url('fonts/GOTHAM-MEDIUM.TTF');

}

@font-face {
	font-family: 'Gotham-bold';
	src: url('fonts/GOTHAM-BOLD.TTF');
}

@font-face {
	font-family: 'Gotham-bold-italic';
	src: url('fonts/GOTHAM-BOLDITALIC.TTF');
}

@font-face {
	font-family: 'Gotham-italic';
	src: url('fonts/GOTHAM-BOOKITALIC_0.OTF');
}

@font-face {
	font-family: 'Gotham-light';
	src: url('fonts/GOTHAM-LIGHT_0.OTF');
}


body {

	font-family: 'Gotham-light';
}

.btn-primary {
	margin-top: 30px;
	border: 0px;
	border-radius: 2px;
	background: #E55C65;
}
.btn-primary:hover {
	margin-top: 30px;
	border: 0px;
	border-radius: 2px;
	background: #BC535E;
}


.navbar-nav {
	display:block;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 10px;
	background: #fff;
	margin: 0 auto;
	padding-left: 2%;
	padding-right: 3%;
	position: fixed;
	z-index: 100;

}

.navbar-collapse {

	padding-left: 0px;
	padding-right: 0px;
}

.main_logo {
	margin-right: 40px;
	font-family: 'Gotham-bold';
}
.main_logo h2 a{
	color: #9BBF75;
}

.blue_color_text {
	color: #252A34;
}

.navbar-nav .nav_elements {
	float: right;
	margin-top: 25px;
}

.navbar-nav .nav_elements li {
	display: inline-block;
	margin-left: 20px;
}


.navbar-nav .nav_elements li a {
	color: #252A34
}

.navbar-nav .nav_elements li a:hover {
	color: #9BBF75
}

.container {
	padding-top: 80px;
}

.home_banner {
	padding-top: 80px;
	width: 100%;
	min-height: 100vh;
	background-color: #9BBF75
}

.home_main {
	padding-top: 7%;
}


.home_main h1{
	font-size: 50px;
	font-family: 'Gotham-bold';
	color: #fff;
}

.home_main h3{

	font-family: 'Gotham-light';
	color: #fff;
}


.home_main .btn-primary{
	margin-top: 30px;
	background-color: #fff;
	color: #9BBF75;
	border: 0px;
	border-radius: 2px;
	padding: 15px 40px;
	font-family: 'Gotham-book';
}


.home_main .btn-primary:hover{
	margin-top: 30px;
	background-color: #252A34;
	color: #fff;
	border: 0px;
	border-radius: 2px;
	padding: 15px 40px;
	font-family: 'Gotham-book';
}
.col-md-6 img {
	width: 100%;
}

.green_background {

	min-height: 100vh;
	background-color: #9BBF75
}

.form_container {
	margin: 0 auto;
	margin-top: 30px;
	max-width: 400px;
	background: #fff;
	border-radius: 4px;

}

.form_container .page-header{
	width: 100%;
	text-align: center;
	border-radius: 4px 4px 0px 0px ;
	background-color: #252A34;
	color: #fff;
}

.form_container .page-header h2{
	font-family: 'Gotham-bold';
	padding-top: 20px;
}


.form_container form{

	padding: 20px;
}

.input-group {
	display: block;
	
}

.input_style{
	height: 40px;
	margin-bottom: 20px !important;
}




