/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */


@font-face {
	font-family: 'Gotham-book';
	src: url('fonts/GOTHAM-MEDIUM.TTF');

}

@font-face {
	font-family: 'Gotham-bold';
	src: url('fonts/GOTHAM-BOLD.TTF');
}

@font-face {
	font-family: 'Gotham-bold-italic';
	src: url('fonts/GOTHAM-BOLDITALIC.TTF');
}

@font-face {
	font-family: 'Gotham-italic';
	src: url('fonts/GOTHAM-BOOKITALIC_0.OTF');
}

@font-face {
	font-family: 'Gotham-light';
	src: url('fonts/GOTHAM-LIGHT_0.OTF');
}


body {

	font-family: 'Gotham-light';
}

h1 span {
	color: #252A34;
	font-family: 'Gotham-bold';

}

h2 span.lesson_section {
	font-family: 'Gotham-italic';

}

.btn-primary {
	margin-top: 10px;
	border: 0px;
	border-radius: 2px;
	background: #E55C65;
}
.btn-primary:hover {

	background: #BC535E;
}


.navbar-nav {
	display:block;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 10px;
	background: #fff;
	margin: 0 auto;
	padding-left: 2%;
	padding-right: 3%;
	position: fixed;
	z-index: 100;

}

.navbar-collapse {

	padding-left: 0px;
	padding-right: 0px;
}

.main_logo {
	margin-right: 40px;
	font-family: 'Gotham-bold';
}
.main_logo h2 a{
	color: #9BBF75;
}

.blue_color_text {
	color: #252A34;
}

.navbar-nav .nav_elements {
	float: right;
	margin-top: 25px;
}

.navbar-nav .nav_elements li {
	display: inline-block;
	margin-left: 20px;
}


.navbar-nav .nav_elements li a {
	color: #252A34
}

.navbar-nav .nav_elements li a:hover {
	color: #9BBF75
}

.container {
	padding-top: 80px;
}

.home_banner {
	padding-top: 80px;
	width: 100%;
	min-height: 100vh;
	background-color: #9BBF75
}

.home_main {
	padding-top: 7%;
}


.home_main h1{
	font-size: 50px;
	font-family: 'Gotham-bold';
	color: #fff;
}

.home_main h3{

	font-family: 'Gotham-light';
	color: #fff;
}


.home_main .btn-primary{
	margin-top: 30px;
	background-color: #fff;
	color: #9BBF75;
	border: 0px;
	border-radius: 2px;
	padding: 15px 40px;
	font-family: 'Gotham-book';
}


.home_main .btn-primary:hover{
	margin-top: 30px;
	background-color: #252A34;
	color: #fff;
	border: 0px;
	border-radius: 2px;
	padding: 15px 40px;
	font-family: 'Gotham-book';
}
.col-md-6 img {
	width: 100%;
}

.green_background {

	min-height: 100vh;
	background-color: #9BBF75
}

.form_container {
	margin: 0 auto;
	margin-top: 30px;
	max-width: 400px;
	background: #fff;
	border-radius: 4px;

}

.form_container .page-header{
	width: 100%;
	text-align: center;
	border-radius: 4px 4px 0px 0px ;
	background-color: #252A34;
	color: #fff;
}

.form_container .page-header h2{
	font-family: 'Gotham-bold';
	padding-top: 20px;
}


.form_container form{

	padding: 20px;
}

.input-group {
	display: block;
	
}

.input_style{
	height: 40px;
	margin-bottom: 20px !important;
}

.profile_box {
	display: inline-block;
	vertical-align: top;
}
.profile_box h2 {	
	padding-bottom: 10px;
}

.profile_box h4 span{
	font-family: 'Gotham-bold';
}

.profile_image {
	margin-right: 25px;
	max-width: 200px;
}

.container {padding-top: 120px; padding-bottom: 100px;}

.dashboard_top_buttons a.btn-primary {
	display:block; 
	clear:both;
	width: 240px;
	padding: 15px 15px;
	float: right;
	vertical-align: top;
	margin-top: 15px;
	margin-bottom: 5px
}

.button_blue {
	background-color: #252A34;

}

.button_green {

	background-color: #9BBF75
}

.button_green_text {

	color: #9BBF75;
}

.button_blue_text {

	color: #252A34;
}

.button_red_text {

	color: #E55C65;
}


.button_white_text {

	color: #fff;
}

.button_white_text:hover {

	color: #d1d0d2;
}


.student_table {
margin-top: 50px;

}

.instruct_table{
	margin-top: 50px;
}

.table tr th {
	padding-left: 0px;
	border-top: 0px !important;
}

.instruct_table h3 span {
	font-family: 'Gotham-bold';
}

hr {

	border-color: #d1d0d2;
}



.student_subject_box .col-md-6, .curriculum_subject_box .col-md-6{
	max-width: 47%;
	border: 1px solid #d1d0d2;
	background-color: #fff;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0 auto;
	border-radius: 4px;
	margin-top: 30px;


}

.student_subject_box .col-md-6:nth-child(odd), .curriculum_subject_box .col-md-6:nth-child(odd){
	max-width: 47%;
	margin-right: 6%;
	background-color: #fff;
	border-radius: 3px;


}

.student_subject_box .col-md-6 .page-header, .curriculum_subject_box .col-md-6 .page-header{
	width: 100%;
	text-align: center;
	border-radius: 4px 4px 0px 0px ;
	background-color: #252A34;
	color: #fff;
	margin: 0 auto;
}

.student_subject_box .col-md-6 .page-header h3, .curriculum_subject_box .col-md-6 .page-header h3{
	font-family: 'Gotham-bold';
	padding-top: 10px;
	margin: 0 auto;
}

.subject_body_content {
	padding: 20px 20px 35px 20px;
}


.subject_body_content a{
	width: 46.5%;
}



.course_title {
	text-transform: uppercase;
	font-family: 'Gotham-bold';
	color: #577337;
	display: inline-block;
	margin-right: 20px;
	padding-bottom: 10px;
}


.chapter_title {
	font-family: 'Gotham-book';
	color: #666;
	border-bottom: 1px solid #999;
	display: inline;
	margin-bottom: 20px;
	margin-right: 20px;
}

.chapter_title h4{

	margin-right: 20px;
}

.table_no_line tr td{

	border-top: 0px #fff !important;
	padding: 0px !important;
}


.table_no_line tr td:last-child{

	text-align: right;
}

.table_no_line tr td h4
 {
 	margin-top: 10px;
    margin-bottom: 0px;}

.subject_category {
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d1d0d2;
}

.subject_body_content a.margin_clear {margin-right: 0%; text-align: right}


.sidebar_lesson {
	height: 100vh;
	background: #3C3739;
	width: 15%;
	position: fixed;
	margin-top: 76px; 
}

.container_lesson {
	margin-left: 15%;
	max-width: 85%;
	padding-bottom: 150px;
}

.lesson_box {
	width: 80%; 
	background: #fff; 
	margin: 0 auto; 
	border: 1px solid #d1d0d2;
	margin-top: 120px;

	padding: 30px 50px 100px;
	max-width: 1000px;

	overflow: visible;

}

.lesson_box p {
	margin-top: 20px;
	font-size: 16px;
}

.lesson_box img {

	margin-top: 20px;
	font-size: 16px;
	width: 100%;
}

.prev_button {
	
	margin: 0;
	float: left;
	padding-left: 0;
	
	
}

.next_button {
	margin: 0;
	float: right;


}
.next_button a{
	margin: 0;
	float: right;
}

.bottom_buttons {

	padding-top: 40px;
}

.lesson_course_name {
	width: 100%;
	padding: 15px;
	background: #9BBF75;
	font-family: 'Gotham-bold';
	color: #fff;
}



.lesson_chapter_name {
	width: 100%;
	padding: 15px;
	background: #3C3739;
	font-family: 'Gotham-bold-italic';
	color: #fff;
	border-bottom: 1px solid #514D4D;
}

.lesson_chapter_name:hover {

	background: #E55C65;
	cursor:pointer;
}

.lesson_lesson_list {
	width: 100%;
	padding: 17px;
	background: #514D4D;
	font-family: 'Gotham-book';
	color: #fff;
	border-bottom: 1px solid #494446;
}

.lesson_lesson_list ul li:hover {

	color: #9BBF75;
	cursor: pointer;

}

.target_stuff tr {
	height: 100px;
	padding-bottom: 40px;
	
}

.target_stuff tr td {
	width: 30%;
	padding-top: 25px !important;
	display: inline-block;
	vertical-align: center;

}


.target_stuff tr td:first-child {
	width: 100px;
	padding-top: 10px !important;
}


.search_curriculum {
	width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-top: 27px;
    border: 1px solid #d1d0d2;
}

.table tr td img {
	width: 80px;
}

.target_logo {
	display: block;
	margin: 0 auto;
	width:80px;
	margin-top: -20px
}


.select_style select{
	margin-bottom: 15px !important;
}


.target_text {
	text-align: center;
}

.weight_heavy {
	font-family: 'Gotham-bold';
	display: inline-block; margin: 0 auto;}
